Repository nebari-dev/nebari, pull requests merged in 2022-12, with the labels that each got.

#1577 Restore how the dask worker node group is selected by default
  nebari/constants.py
  nebari/template/stages/07-kubernetes-services/modules/kubernetes/services/dask-gateway/files/gateway_config.py
Labels: type: bug 🐛, area: integration/Dask

#1579 📝 Update readme
  README.md
  docs/source/images/qhub-cloud_architecture.png
Labels: area: documentation 📖, needs: review 👀

#1580 MAINT - Miscellaneous maintenance tasks
  .github/ISSUE_TEMPLATE/RFD.md
  .github/workflows/release.yaml
  .github/workflows/run-pre-commit.yaml
  .github/workflows/test-provider.yaml
  .github/workflows/test.yaml
  .pre-commit-config.yaml
  docs/index.md
  docs/source/admin_guide/argo-workflows.md
  docs/source/admin_guide/awss3curl.md
  docs/source/admin_guide/backup.md
  docs/source/admin_guide/breaking-upgrade.md
  docs/source/admin_guide/clearml.md
  docs/source/admin_guide/cost.md
  docs/source/admin_guide/custom-helm-charts.md
  docs/source/admin_guide/faq.md
  docs/source/admin_guide/gpu.md
  docs/source/admin_guide/jupyterhub.md
  docs/source/admin_guide/keycloak.md
  docs/source/admin_guide/monitoring.md
  docs/source/admin_guide/preemptible-spot-instances.md
  docs/source/admin_guide/prefect.md
  docs/source/admin_guide/system_maintenance.md
  docs/source/admin_guide/traefik.md
  docs/source/admin_guide/troubleshooting.md
  docs/source/admin_guide/upgrade.md
  docs/source/dev_guide/architecture.md
  docs/source/dev_guide/contribution.md
  docs/source/dev_guide/keycloak.md
  docs/source/dev_guide/minikube.md
  docs/source/dev_guide/release.md
  docs/source/dev_guide/testing.md
  docs/source/installation/configuration.md
  docs/source/installation/existing.md
  docs/source/installation/login.md
  docs/source/installation/management.md
  docs/source/installation/setup.md
  docs/source/installation/usage.md
  docs/source/introduction/index.md
  docs/source/introduction/qhub-101.md
  docs/source/user_guide/code_server.md
  docs/source/user_guide/dashboard.md
  docs/source/user_guide/dask_gateway.md
  docs/source/user_guide/environments.md
  docs/source/user_guide/faq.md
  docs/source/user_guide/getting_started.md
  docs/source/user_guide/idle_culler.md
  docs/source/user_guide/ssh.md
  docs/source/user_guide/training.md
  docs/source/user_guide/troubleshooting.md
  nebari/provider/cicd/github.py
Labels: area: CI/CD 👷🏽‍♀️, type: maintenance 🛠, area: dependencies 📦

#1595 Make conda-store file system read-only by default
  nebari/template/stages/07-kubernetes-services/modules/kubernetes/services/conda-store/config/conda_store_config.py
Labels: type: enhancement 💅🏼, area: integration/conda-store, status: approved 💪🏾

#1602 ENH - Switch to ruff and pre-commit.ci
  .github/workflows/run-precommit.yaml
  .gitignore
  .pre-commit-config.yaml
  docs/ext/substitute.py
  nebari/cli/init.py
  nebari/cli/main.py
  nebari/cost.py
  nebari/deploy.py
  nebari/provider/cloud/amazon_web_services.py
  nebari/provider/cloud/azure_cloud.py
  nebari/provider/cloud/digital_ocean.py
  nebari/provider/cloud/google_cloud.py
  nebari/provider/terraform.py
  nebari/render.py
  nebari/schema.py
  nebari/template/stages/07-kubernetes-services/modules/kubernetes/services/dask-gateway/files/gateway_config.py
  nebari/template/stages/07-kubernetes-services/modules/kubernetes/services/jupyterhub/files/jupyterhub/03-profiles.py
  nebari/upgrade.py
  nebari/version.py
  pyproject.toml
  tests/conftest.py
  tests/test_cli.py
Labels: type: enhancement 💅🏼, area: CI/CD 👷🏽‍♀️, area: dependencies 📦, status: approved 💪🏾

#1545 Migrate to hatch
  .github/workflows/kubernetes_test.yaml
  .github/workflows/test-provider.yaml
  .github/workflows/test.yaml
  .gitignore
  .pre-commit-config.yaml
  pyproject.toml
  setup.cfg
Labels: area:developer-experience 👩🏻‍💻, status: approved 💪🏾, impact: medium 🟨
