Repository nebari-dev/nebari, pull requests merged in 2022-08, with the labels that each got.

#1371 Decouple docker images
  .github/workflows/image.yaml
  .github/workflows/kubernetes_test.yaml
  .pre-commit-config.yaml
  qhub/cli/__init__.py
  qhub/cli/initialize.py
  qhub/cli/render.py
  qhub/constants.py
  qhub/initialize.py
  qhub/provider/cicd/common.py
  qhub/provider/cicd/github.py
  qhub/provider/cicd/gitlab.py
  qhub/render.py
  qhub/template/image/Dockerfile.dask-worker
  qhub/template/image/Dockerfile.jupyterhub
  qhub/template/image/Dockerfile.jupyterlab
  qhub/template/image/README.md
  qhub/template/image/dask-worker/environment.yaml
  qhub/template/image/dask-worker/postBuild
  qhub/template/image/docker-bake.json
  qhub/template/image/jupyterhub/environment.yaml
  qhub/template/image/jupyterhub/postBuild
  qhub/template/image/jupyterlab/apt.txt
  qhub/template/image/jupyterlab/conda-linux-64.lock
  qhub/template/image/jupyterlab/environment.yaml
  qhub/template/image/jupyterlab/postBuild
  qhub/template/image/scripts/fix-permissions
  qhub/template/image/scripts/install-apt-minimal.sh
  qhub/template/image/scripts/install-apt.sh
  qhub/template/image/scripts/install-code-server.sh
  qhub/template/image/scripts/install-conda-environment.sh
  qhub/template/image/scripts/install-conda.sh
  qhub/utils.py
  tests/test_render.py
Labels: needs: review 👀, area: CI/CD 👷🏽‍♀️, Nebari 🌱, area: docker 🐋

#1171 Integrate kind into local deployment to no longer require minikube for development
  .github/workflows/kubernetes_test.yaml
  .github/workflows/test-provider.yaml
  .pre-commit-config.yaml
  qhub/initialize.py
  qhub/provider/cicd/github.py
  qhub/schema.py
  qhub/stages/input_vars.py
  qhub/stages/tf_objects.py
  qhub/template/stages/02-infrastructure/existing/main.tf
  qhub/template/stages/02-infrastructure/local/main.tf
  qhub/template/stages/02-infrastructure/local/metallb.yaml
  qhub/template/stages/02-infrastructure/local/outputs.tf
  qhub/template/stages/02-infrastructure/local/variables.tf
  qhub/utils.py
Labels: needs: review 👀

#1391 Make conda-store image tag configurable
  qhub/constants.py
  qhub/schema.py
  qhub/stages/input_vars.py
  qhub/template/stages/07-kubernetes-services/conda-store.tf
  qhub/template/stages/07-kubernetes-services/modules/kubernetes/services/conda-store/server.tf
  qhub/template/stages/07-kubernetes-services/modules/kubernetes/services/conda-store/variables.tf
  qhub/template/stages/07-kubernetes-services/modules/kubernetes/services/conda-store/worker.tf
Labels: area: user experience, area: integration/conda-store

#1385 Upgrade conda-store to 0.4.7 allow for customization
  flake.nix
  qhub/constants.py
  qhub/schema.py
  qhub/stages/input_vars.py
  qhub/template/stages/07-kubernetes-services/conda-store.tf
  qhub/template/stages/07-kubernetes-services/modules/kubernetes/services/conda-store/config/conda_store_config.py
  qhub/template/stages/07-kubernetes-services/modules/kubernetes/services/conda-store/server.tf
  qhub/template/stages/07-kubernetes-services/modules/kubernetes/services/conda-store/storage.tf
  qhub/template/stages/07-kubernetes-services/modules/kubernetes/services/conda-store/variables.tf
  qhub/template/stages/07-kubernetes-services/modules/kubernetes/services/conda-store/worker.tf
  qhub/template/stages/07-kubernetes-services/modules/kubernetes/services/redis/main.tf
  qhub/template/stages/07-kubernetes-services/modules/kubernetes/services/redis/outputs.tf
  qhub/template/stages/07-kubernetes-services/modules/kubernetes/services/redis/values.yaml
  qhub/template/stages/07-kubernetes-services/modules/kubernetes/services/redis/variables.tf
Labels: needs: review 👀, area: integration/conda-store

#1392 [ENH] Bump conda-store to v0.4.9
  qhub/constants.py
  qhub/template/stages/07-kubernetes-services/conda-store.tf
  qhub/template/stages/07-kubernetes-services/modules/kubernetes/services/conda-store/variables.tf
Labels: type: enhancement 💅🏼, area: integration/conda-store, area:developer-experience, needs: testing
