Repository nebari-dev/nebari, pull requests merged in 2022-10, with the labels that each got.

#1358 Make CDSDashboards.conda_envs dynamically update from function
  environment-dev.yaml
  flake.nix
  qhub/constants.py
  qhub/stages/input_vars.py
  qhub/template/stages/07-kubernetes-services/conda-store.tf
  qhub/template/stages/07-kubernetes-services/jupyterhub.tf
  qhub/template/stages/07-kubernetes-services/modules/kubernetes/services/conda-store/config/conda_store_config.py
  qhub/template/stages/07-kubernetes-services/modules/kubernetes/services/conda-store/output.tf
  qhub/template/stages/07-kubernetes-services/modules/kubernetes/services/conda-store/server.tf
  qhub/template/stages/07-kubernetes-services/modules/kubernetes/services/conda-store/variables.tf
  qhub/template/stages/07-kubernetes-services/modules/kubernetes/services/jupyterhub/files/jupyterhub/02-spawner.py
  qhub/template/stages/07-kubernetes-services/modules/kubernetes/services/jupyterhub/main.tf
  qhub/template/stages/07-kubernetes-services/modules/kubernetes/services/jupyterhub/variables.tf
  qhub/template/stages/07-kubernetes-services/variables.tf
  setup.cfg
  tests_e2e/cypress/integration/main.js
Labels: status: in progress 🏗, area: integration/conda-store, area: integration/dashboards

#1480 Update CI to use new nebari cli entrypoint
  .github/workflows/kubernetes_test.yaml
  .github/workflows/test-provider.yaml
  qhub/cli/_init.py
  qhub/cli/_keycloak.py
  qhub/cli/main.py
  qhub/schema.py
  tests_deployment/constants.py
  tests_deployment/test_dask_gateway.py
  tests_deployment/test_jupyterhub_ssh.py
  tests_deployment/utils.py
  tests_e2e/cypress/integration/main.js
  tests_e2e/cypress/plugins/index.js
Labels: needs: review 👀, area: CI/CD 👷🏽‍♀️, area: nebari-cli

#1485 Fix get_latest_repo_tag fn
  qhub/provider/cicd/github.py
Labels: type: bug 🐛, type: maintenance 🛠

#1443 Nebari Typer CLI
  .github/workflows/kubernetes_test.yaml
  .github/workflows/test-provider.yaml
  environment-dev.yaml
  qhub/cli/_init.py
  qhub/cli/_keycloak.py
  qhub/cli/main.py
  qhub/initialize.py
  qhub/keycloak.py
  qhub/render.py
  qhub/schema.py
  qhub/upgrade.py
  setup.cfg
  tests_deployment/constants.py
  tests_deployment/test_dask_gateway.py
  tests_deployment/test_jupyterhub_ssh.py
  tests_deployment/utils.py
  tests_e2e/cypress/integration/main.js
  tests_e2e/cypress/plugins/index.js
Labels: type: enhancement 💅🏼, needs: review 👀, area: user experience 👩🏻‍💻, impact: high, status: in review 👀, area: nebari-cli

#1493 Pass AWS `region`, `kubernetes_version` to terraform scripts
  qhub/stages/input_vars.py
Labels: provider: AWS, area: k8s ⎈

#1494 Enable ebs-csi driver on AWS, add region + kubernetes_version vars
  qhub/template/stages/02-infrastructure/aws/main.tf
  qhub/template/stages/02-infrastructure/aws/modules/kubernetes/locals.tf
  qhub/template/stages/02-infrastructure/aws/modules/kubernetes/main.tf
  qhub/template/stages/02-infrastructure/aws/modules/kubernetes/variables.tf
  qhub/template/stages/02-infrastructure/aws/variables.tf
Labels: provider: AWS, area: k8s ⎈

#1357 [ENH] Switch default and filesystem name envs
  qhub/schema.py
  qhub/stages/input_vars.py
  qhub/template/stages/07-kubernetes-services/conda-store.tf
  qhub/template/stages/07-kubernetes-services/dask_gateway.tf
  qhub/template/stages/07-kubernetes-services/jupyterhub.tf
  qhub/template/stages/07-kubernetes-services/modules/kubernetes/services/conda-store/config/conda_store_config.py
  qhub/template/stages/07-kubernetes-services/modules/kubernetes/services/conda-store/server.tf
  qhub/template/stages/07-kubernetes-services/modules/kubernetes/services/conda-store/variables.tf
  qhub/template/stages/07-kubernetes-services/modules/kubernetes/services/dask-gateway/files/gateway_config.py
  qhub/template/stages/07-kubernetes-services/modules/kubernetes/services/dask-gateway/gateway.tf
  qhub/template/stages/07-kubernetes-services/modules/kubernetes/services/dask-gateway/variables.tf
  qhub/template/stages/07-kubernetes-services/modules/kubernetes/services/jupyterhub/files/jupyterhub/03-profiles.py
  qhub/template/stages/07-kubernetes-services/modules/kubernetes/services/jupyterhub/main.tf
  qhub/template/stages/07-kubernetes-services/modules/kubernetes/services/jupyterhub/variables.tf
  qhub/template/stages/07-kubernetes-services/variables.tf
Labels: type: enhancement 💅🏼, area: user experience 👩🏻‍💻, area: integration/conda-store, area:developer-experience 👩🏻‍💻, needs: changes 🧱, needs: testing ✅

#1501 Switch to CalVer
  .github/workflows/kubernetes_test.yaml
  .github/workflows/run-pre-commit.yaml
  .github/workflows/test-provider.yaml
  .github/workflows/test.yaml
  pyproject.toml
Labels: area: CI/CD 👷🏽‍♀️, type: maintenance 🛠, type: release 🏷, Nebari 🌱

#1498 Add fix, enhancements and pytests for CLI
  .github/workflows/kubernetes_test.yaml
  .github/workflows/run-pre-commit.yaml
  .github/workflows/test-provider.yaml
  .github/workflows/test.yaml
  nebari/cli/_init.py
  nebari/cli/main.py
  nebari/initialize.py
  nebari/schema.py
  tests/test_cli.py
Labels: type: enhancement 💅🏼, area: nebari-cli

#1519 Remove old CLI + cleanup
  nebari/cli/__init__.py
  nebari/cli/_keycloak.py
  nebari/cli/cost.py
  nebari/cli/deploy.py
  nebari/cli/destroy.py
  nebari/cli/init.py
  nebari/cli/initialize.py
  nebari/cli/keycloak.py
  nebari/cli/main.py
  nebari/cli/render.py
  nebari/cli/support.py
  nebari/cli/upgrade.py
  nebari/cli/validate.py
  nebari/initialize.py
  nebari/schema.py
  setup.cfg
Labels: Nebari 🌱, area: nebari-cli

#1523 Add release notes for 2022.10.1
  README.md
  RELEASE.md
Labels: area: documentation 📖, Nebari 🌱
