Repository nebari-dev/nebari, pull requests merged in 2023-09, with the labels that each got.

#1968 nebari cli environment variable handling, support, keycloak, dev tests
  src/_nebari/keycloak.py
  src/_nebari/stages/infrastructure/__init__.py
  src/_nebari/subcommands/dev.py
  src/_nebari/subcommands/support.py
  tests/tests_unit/test_cli_dev.py
  tests/tests_unit/test_cli_init.py
  tests/tests_unit/test_cli_keycloak.py
  tests/tests_unit/test_cli_support.py
  tests/tests_unit/test_cli_upgrade.py
  tests/tests_unit/test_cli_validate.py
  tests/tests_unit/test_render.py
Labels: area: testing ✅, area: nebari-cli

#1976 CI: remove empty notebook to fix pre-commit json check
  tests/tests_unit/notebooks/test-ipython-basic.ipynb
Labels: area: testing ✅, area: CI/CD 👷🏽‍♀️

#1973 TYP: fix typing error in plugins
  src/nebari/plugins.py
Labels: type: maintenance 🛠, type:extension

#1975 TYP: fix return class type in hookimpl
  src/_nebari/stages/bootstrap/__init__.py
  src/_nebari/stages/infrastructure/__init__.py
  src/_nebari/stages/kubernetes_ingress/__init__.py
  src/_nebari/stages/kubernetes_initialize/__init__.py
  src/_nebari/stages/kubernetes_keycloak/__init__.py
  src/_nebari/stages/kubernetes_keycloak_configuration/__init__.py
  src/_nebari/stages/kubernetes_services/__init__.py
  src/_nebari/stages/nebari_tf_extensions/__init__.py
  src/_nebari/stages/terraform_state/__init__.py
Labels: type: maintenance 🛠, type:extension

#1926 Do not try and add argo envs when disabled
  src/_nebari/stages/kubernetes_services/__init__.py
  src/_nebari/stages/kubernetes_services/template/argo-workflows.tf
  src/_nebari/stages/kubernetes_services/template/jupyterhub.tf
  src/_nebari/stages/kubernetes_services/template/modules/kubernetes/services/jupyterhub/files/jupyterhub/03-profiles.py
  src/_nebari/stages/kubernetes_services/template/modules/kubernetes/services/jupyterhub/main.tf
  src/_nebari/stages/kubernetes_services/template/modules/kubernetes/services/jupyterhub/variables.tf
  src/_nebari/stages/kubernetes_services/template/variables.tf
Labels: status: approved 💪🏾, area: integration/Argo

#1930 Handle region with care, updates to test suite
  pyproject.toml
  pytest.ini
  src/_nebari/config.py
  src/_nebari/constants.py
  src/_nebari/deploy.py
  src/_nebari/initialize.py
  src/_nebari/provider/cloud/amazon_web_services.py
  src/_nebari/provider/cloud/azure_cloud.py
  src/_nebari/provider/cloud/digital_ocean.py
  src/_nebari/provider/cloud/google_cloud.py
  src/_nebari/render.py
  src/_nebari/stages/infrastructure/__init__.py
  src/_nebari/stages/kubernetes_services/__init__.py
  src/_nebari/subcommands/init.py
  src/_nebari/utils.py
  tests/common/config_mod_utils.py
  tests/tests_integration/README.md
  tests/tests_integration/conftest.py
  tests/tests_integration/deployment_fixtures.py
  tests/tests_integration/test_all_clouds.py
  tests/tests_integration/test_gpu.py
  tests/tests_integration/test_preemptible.py
  tests/tests_unit/cli_validate/aws.error.kubernetes-version.yaml
  tests/tests_unit/cli_validate/aws.happy.yaml
  tests/tests_unit/cli_validate/azure.happy.yaml
  tests/tests_unit/cli_validate/do.happy.yaml
  tests/tests_unit/cli_validate/gcp.happy.yaml
  tests/tests_unit/conftest.py
  tests/tests_unit/test_cli_init.py
  tests/tests_unit/test_cli_validate.py
  tests/tests_unit/test_init.py
Labels: area: testing ✅, provider: Azure, area: dependencies 📦, status: approved 💪🏾, project: JATIC

#1994 remove custom auth from config schema
  src/_nebari/stages/kubernetes_keycloak/__init__.py
  src/_nebari/upgrade.py
  tests/tests_unit/cli_validate/local.error.authentication-type-called-custom.yaml
  tests/tests_unit/test_cli_init.py
  tests/tests_unit/test_cli_upgrade.py
Labels: area: user experience 👩🏻‍💻, area: authentication

#1992 CLI: handle removed dns options in deploy command
  src/_nebari/subcommands/deploy.py
  tests/tests_unit/conftest.py
  tests/tests_unit/test_cli_deploy.py
Labels: status: in review 👀, area: nebari-cli

#1634 Add API docs
  .github/workflows/generate_cli_doc.yml
  .pre-commit-config.yaml
  docs-sphinx/Makefile
  docs-sphinx/README.md
  docs-sphinx/cli.html
  docs-sphinx/cli.rst
  docs-sphinx/conf.py
  docs-sphinx/index.rst
  pyproject.toml
  src/nebari/__main__.py
Labels: area: documentation 📖, needs: review 👀, impact: low 🟩

#1997 Upgrade images for jupyterhub-ssh, kbatch
  src/_nebari/stages/kubernetes_services/__init__.py
  src/_nebari/stages/kubernetes_services/template/modules/kubernetes/services/jupyterhub-ssh/sftp.tf
  src/_nebari/stages/kubernetes_services/template/modules/kubernetes/services/jupyterhub-ssh/ssh.tf
  src/_nebari/stages/kubernetes_services/template/modules/kubernetes/services/jupyterhub-ssh/variables.tf
  src/_nebari/stages/kubernetes_services/template/modules/kubernetes/services/kbatch/versions.tf
Labels: area: dependencies 📦, area: security 🔐

#2005 Add permissions to generate_cli_docs workflow
  .github/workflows/generate_cli_doc.yml
Labels: area: documentation 📖, area: CI/CD 👷🏽‍♀️, area: nebari-cli

#2003 standardize regex and messaging for names
  src/_nebari/subcommands/init.py
  src/nebari/schema.py
  tests/tests_unit/cli_validate/local.error.project_name.ends_with_special.yaml
  tests/tests_unit/cli_validate/local.error.project_name.starts_with_number.yaml
  tests/tests_unit/cli_validate/local.error.project_name.too_long.yaml
  tests/tests_unit/cli_validate/local.happy.project_name.with_numbers.yaml
  tests/tests_unit/test_cli_validate.py
Labels: provider: AWS, provider: Azure, provider: GCP, provider: Digital Ocean, project: JATIC

#1991 Modify JupyterHub networkPolicy to match existing policy
  src/_nebari/stages/kubernetes_services/template/modules/kubernetes/services/jupyterhub/values.yaml
Labels: provider: Digital Ocean, status: in review 👀

#1986 Update package dependencies
  pyproject.toml
Labels: area: dependencies 📦

#1977 CI: Add AWS integration test workflow, clean up
  .github/workflows/test_aws_integration.yaml
  .github/workflows/test_integration.yaml
  src/_nebari/deploy.py
  src/_nebari/initialize.py
  src/_nebari/provider/cloud/amazon_web_services.py
  src/_nebari/render.py
  src/_nebari/stages/infrastructure/__init__.py
  src/_nebari/stages/terraform_state/__init__.py
  src/_nebari/subcommands/init.py
  tests/common/config_mod_utils.py
  tests/tests_integration/conftest.py
  tests/tests_integration/deployment_fixtures.py
  tests/tests_integration/test_gpu.py
  tests/tests_unit/scripts/minikube-loadbalancer-ip.py
  tests/tests_unit/vale/styles/vocab.txt
Labels: area: testing ✅, provider: AWS, area: CI/CD 👷🏽‍♀️, project: JATIC

#2009 Auth0/Github auth-provider config validation fix
  src/_nebari/initialize.py
  src/_nebari/stages/kubernetes_keycloak/__init__.py
  src/_nebari/subcommands/deploy.py
  src/_nebari/subcommands/init.py
  tests/tests_unit/cli_validate/local.happy.auth0.yaml
  tests/tests_unit/cli_validate/local.happy.github.yaml
  tests/tests_unit/test_cli_init.py
  tests/tests_unit/test_cli_validate.py
Labels: area: testing ✅, area: authentication, area: nebari-cli, project: JATIC

#1998 terraform upgrade to 1.5.7
  src/_nebari/constants.py
  src/_nebari/stages/infrastructure/template/local/outputs.tf
  src/_nebari/stages/terraform_state/__init__.py
  tests/tests_unit/test_dependencies.py
Labels: area: dependencies 📦, area: terraform 💾

#2012 cli init repo auto provision fix
  src/_nebari/initialize.py
  src/_nebari/provider/cicd/github.py
  src/_nebari/subcommands/init.py
  src/nebari/schema.py
  tests/tests_unit/test_cli_init.py
  tests/tests_unit/test_cli_init_repository.py
Labels: area: authentication, area: nebari-cli, project: JATIC

#2010 Add gcp_cleanup, minor changes
  src/_nebari/provider/cicd/github.py
  src/_nebari/provider/cloud/google_cloud.py
  src/_nebari/stages/infrastructure/__init__.py
  src/_nebari/stages/infrastructure/template/gcp/provider.tf
  src/_nebari/stages/infrastructure/template/gcp/versions.tf
  src/_nebari/stages/kubernetes_services/__init__.py
  src/_nebari/stages/terraform_state/template/gcp/main.tf
  tests/tests_integration/deployment_fixtures.py
Labels: area: testing ✅, provider: GCP, status: approved 💪🏾

#2025 Fix #2024
  src/_nebari/subcommands/init.py
Labels: area: user experience 👩🏻‍💻

#2028 Upgrade conda-store to 2023.9.2
  src/_nebari/constants.py
  src/_nebari/stages/kubernetes_services/template/modules/kubernetes/services/conda-store/config/conda_store_config.py
Labels: area: dependencies 📦, area: integration/conda-store, status: approved 💪🏾, project: JATIC

#2041 2023.9.1 AWS upgrade changes
  src/_nebari/upgrade.py
Labels: area: user experience 👩🏻‍💻
