Repository nebari-dev/nebari, pull requests merged in 2023-07, with the labels that each got.

#1857 AWS gov cloud support
  src/_nebari/template/stages/02-infrastructure/aws/main.tf
  src/_nebari/template/stages/02-infrastructure/aws/modules/kubernetes/locals.tf
  src/_nebari/template/stages/02-infrastructure/aws/modules/kubernetes/variables.tf
Labels: type: enhancement 💅🏼, provider: AWS, area: terraform 💾, status: in review 👀

#1773 Pathlib everywhere
  .github/actions/publish-from-template/render_template.py
  pyproject.toml
  scripts/aws-force-destroy.py
  scripts/helm-validate.py
  scripts/keycloak-export.py
  src/_nebari/cli/main.py
  src/_nebari/deploy.py
  src/_nebari/destroy.py
  src/_nebari/initialize.py
  src/_nebari/provider/cicd/linter.py
  src/_nebari/provider/git.py
  src/_nebari/provider/terraform.py
  src/_nebari/render.py
  src/_nebari/stages/input_vars.py
  src/_nebari/stages/tf_objects.py
  src/_nebari/template/stages/07-kubernetes-services/modules/kubernetes/services/conda-store/config/conda_store_config.py
  src/_nebari/template/stages/07-kubernetes-services/modules/kubernetes/services/dask-gateway/files/gateway_config.py
  src/_nebari/template/stages/07-kubernetes-services/modules/kubernetes/services/jupyterhub/files/jupyterhub/03-profiles.py
  src/_nebari/upgrade.py
  src/_nebari/utils.py
  tests/scripts/minikube-loadbalancer-ip.py
  tests/test_render.py
Labels: needs: review 👀, area:developer-experience 👩🏻‍💻

#1832 Changes required for Jupyter-Scheduler integration
  src/_nebari/stages/input_vars.py
  src/_nebari/template/stages/07-kubernetes-services/jupyterhub.tf
  src/_nebari/template/stages/07-kubernetes-services/modules/kubernetes/services/argo-workflows/main.tf
  src/_nebari/template/stages/07-kubernetes-services/modules/kubernetes/services/jupyterhub/configmaps.tf
  src/_nebari/template/stages/07-kubernetes-services/modules/kubernetes/services/jupyterhub/files/jupyter/jupyter_server_config.py.tpl
  src/_nebari/template/stages/07-kubernetes-services/modules/kubernetes/services/jupyterhub/files/jupyterhub/03-profiles.py
  src/_nebari/template/stages/07-kubernetes-services/modules/kubernetes/services/jupyterhub/main.tf
  src/_nebari/template/stages/07-kubernetes-services/modules/kubernetes/services/jupyterhub/variables.tf
Labels: needs: review 👀, area: user experience 👩🏻‍💻, area: JupyterLab, needs: documentation 📖, area: integration/Argo

#1868 Update upgrade command in preparation for release
  src/_nebari/constants.py
  src/_nebari/upgrade.py
Labels: area: user experience 👩🏻‍💻, area: dependencies 📦, area: nebari-cli

#1870 Add release notes
  RELEASE.md
Labels: area: documentation 📖, type: release 🏷
