Repository nebari-dev/nebari, pull requests merged in 2024-03, with the labels that each got.

#2267 Add "Open VS Code" entry in services
  src/_nebari/stages/kubernetes_services/template/modules/kubernetes/services/jupyterhub/files/jupyterlab/overrides.json
Labels: area: user experience 👩🏻‍💻, area: JupyterLab

#2305 [RELEASE] 2024.3.1
  .cirun.yml
  .github/workflows/test_local_integration.yaml
  RELEASE.md
  pyproject.toml
  src/_nebari/constants.py
  src/_nebari/provider/cloud/amazon_web_services.py
  src/_nebari/stages/infrastructure/__init__.py
  src/_nebari/stages/infrastructure/template/aws/modules/kubernetes/main.tf
  src/_nebari/stages/kubernetes_services/__init__.py
  src/_nebari/stages/kubernetes_services/template/dask_gateway.tf
  src/_nebari/stages/kubernetes_services/template/jupyterhub.tf
  src/_nebari/stages/kubernetes_services/template/modules/kubernetes/services/dask-gateway/files/gateway_config.py
  src/_nebari/stages/kubernetes_services/template/modules/kubernetes/services/dask-gateway/gateway.tf
  src/_nebari/stages/kubernetes_services/template/modules/kubernetes/services/dask-gateway/variables.tf
  src/_nebari/stages/kubernetes_services/template/modules/kubernetes/services/jupyterhub/configmaps.tf
  src/_nebari/stages/kubernetes_services/template/modules/kubernetes/services/jupyterhub/files/extras/git_clone_update.sh
  src/_nebari/stages/kubernetes_services/template/modules/kubernetes/services/jupyterhub/files/jupyter/jupyter_jupyterlab_pioneer_config.py.tpl
  src/_nebari/stages/kubernetes_services/template/modules/kubernetes/services/jupyterhub/files/jupyter/jupyter_server_config.py.tpl
  src/_nebari/stages/kubernetes_services/template/modules/kubernetes/services/jupyterhub/files/jupyterlab/overrides.json
  src/_nebari/stages/kubernetes_services/template/modules/kubernetes/services/jupyterhub/main.tf
  src/_nebari/stages/kubernetes_services/template/modules/kubernetes/services/jupyterhub/variables.tf
  src/_nebari/stages/kubernetes_services/template/modules/kubernetes/services/monitoring/loki/main.tf
  src/_nebari/stages/kubernetes_services/template/modules/kubernetes/services/monitoring/loki/values_loki.yaml
  src/_nebari/stages/kubernetes_services/template/modules/kubernetes/services/monitoring/loki/values_minio.yaml
  src/_nebari/stages/kubernetes_services/template/modules/kubernetes/services/monitoring/loki/values_promtail.yaml
  src/_nebari/stages/kubernetes_services/template/modules/kubernetes/services/monitoring/loki/variables.tf
  src/_nebari/stages/kubernetes_services/template/modules/kubernetes/services/monitoring/values.yaml
  src/_nebari/stages/kubernetes_services/template/monitoring.tf
  src/_nebari/stages/kubernetes_services/template/variables.tf
  src/_nebari/upgrade.py
  tests/common/kube_api.py
  tests/common/navigator.py
  tests/common/playwright_fixtures.py
  tests/common/run_notebook.py
  tests/tests_deployment/test_jupyterhub_ssh.py
  tests/tests_deployment/test_loki_deployment.py
  tests/tests_deployment/utils.py
  tests/tests_e2e/cypress/integration/main.js
  tests/tests_e2e/playwright/test_playwright.py
  tests/tests_unit/cli_validate/min.happy.jupyterlab.default_settings.yaml
  tests/tests_unit/cli_validate/min.happy.monitoring.overrides.yaml
Labels: type: release 🏷

#2276 update max k8s versions and remove depreciated api usage in local deploy
  src/_nebari/constants.py
  src/_nebari/stages/infrastructure/template/local/main.tf
  src/_nebari/stages/infrastructure/template/local/metallb.yaml
Labels: type: maintenance 🛠, status: in progress 🏗, area: k8s ⎈

#2291 Upgrade Actions versions
  .github/workflows/generate_cli_doc.yml
  .github/workflows/release.yaml
  .github/workflows/run-precommit.yaml
  .github/workflows/test-provider.yaml
  .github/workflows/test.yaml
  .github/workflows/test_aws_integration.yaml
  .github/workflows/test_conda_build.yaml
  .github/workflows/test_do_integration.yaml
  .github/workflows/test_gcp_integration.yaml
  .github/workflows/test_helm_charts.yaml
  .github/workflows/test_local_integration.yaml
  .github/workflows/typing.yaml
Labels: status: approved 💪🏾

#2314 upgrade auth0-python version to ultimately resolve CVE-2024-26130
  pyproject.toml
Labels: needs: changes 🧱

#2347 Deduplicate conda-store in JupyterLab main menu
  src/_nebari/stages/kubernetes_services/template/modules/kubernetes/services/jupyterhub/files/jupyterlab/overrides.json
Labels: area: JupyterLab
